.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 5%;
    width: 300px;

    /* padding: 1rem; */
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;

}

.sub-menu{
    width: 100%;
    padding: 2rem;
    background-color: white;
    border: 1px solid green;
    border-radius: .5rem;
}

.sub-menu-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    margin-top: 1rem;
    width: 100%;
}

.linkings{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px grey solid;
    width: 100%;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}